spring-debug/src/main/resources/META-INF/customize.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.poplar.com/schema/poplar"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.poplar.com/schema/poplar"
            elementFormDefault="qualified">
    <xsd:element name="poplar">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="job" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>